@model List<Education>
<div id="education" class="container section-title" data-aos="fade-up">
    <h2>Eğitim</h2>
    <p>Yazılım geliştirmek benim için sadece bir meslek değil, aynı zamanda bir tutku. Öğrenmeye olan merakım ve üretme isteğimle, her gün kendimi biraz daha ileri taşımanın peşindeyim.</p>
</div>
<div class="container" data-aos="fade-up" data-aos-delay="200">

    <div class="row skills-content skills-animation">

        @foreach (var item in Model)
        {
            <div class="col-lg-6">

                <div class="resume-item">
                    <h4>@item.Department</h4>
                    <h5>@item.EducationDate</h5>
                    <p><em>@item.University</em></p>
                    <p>@item.Title</p>
                </div><!-- Edn Resume Item -->

            </div>
        }

    </div>
</div>
